:root {
    --gap: 24px;
    --gap-top-main: 56px;
    --list-gap: 200px;
    --date-gap: 12px;
    --content-gap: 20px;
    --nav-width: 850px;
    --main-width: 850px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --brand: #3350a0;


    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(0, 0, 0);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --brand: #17e1a2;
    --theme: rgb(12, 12, 12);
    --entry: rgb(46, 46, 51);
    --primary: rgb(232, 232, 240);
    --secondary: rgb(185, 185, 185);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(207, 207, 209);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(31, 31, 31);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
