.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    /* border-bottom: 1px solid var(--border); */
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {

    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    transition: all 0.3s ease-in-out;
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

#menu a:hover {
    transition: all 0.3s ease-in-out;
    color: var(--brand);
    font-weight: 500;
}

#menu a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    border-radius: 16px;
    background-color: currentColor;
    transform: scaleX(0.005);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#menu a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

#menu .active {
    color: var(--brand);
    height: 100%;
    font-weight: 500;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
